<p>
  <em>Hyperarchy</em> makes it easy to put anything to a vote, so your team can reach agreements quickly and get back to work.
</p>

<p>
<%= link_to "Click here to join #{@organization.name} on Hyperarchy", signup_url(:membership_code => @invitation.guid) %>
</p>