.DS_Store
*.iml
*.iws
*.ipr
.idea
.bundle
.sass-cache
/tags
/log
/offline
/public/assets
/public/stylesheets
/tmp
/config/secrets.tar
/config/smtp_settings
/keys/servers
/config/api_keys.yml
/lib/deploy/resources/nginx/nginx.conf
