*.iml
*.iws
*.ipr
.bundle
client/pkg
target
.DS_Store
.idea
.rvmrc
log
nginx_access.log
.sass-cache
client/stylesheets/app_pages.css
client/stylesheets/global.css
client/stylesheets/peripheral_pages.css
client/stylesheets/vendor/960.css
client/stylesheets/vendor/reset.css