body.legal {
  width: 600px;
  padding: 30px;

  p {
    margin-bottom: 10px;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 15px;
  }

  ol {
    li {
      list-style: outside decimal;
      margin-bottom: 5px;
      margin-left: 20px;
    }
    
    margin-bottom: 10px;
  }
}