#election
  height: 100%
  position: relative
  display: table
  border-spacing: $padding-x 0
  table-layout: fixed

  > div
    display: table-cell
    width: 25%
    @include box-sizing('border-box')
