.home.show {
  #members {
    font-size: $largeFont;
    margin-bottom: 20px;
    overflow: hidden;

    #content {
      position: relative;
      z-index: 4;
      padding: 30px;
    }

    div.addMember {
      font-size: medium;
      margin-bottom: 20px;

      input, select {
        display: inline;
        margin-right: 10px;
      }

      input.name { width: 150px; }
      input.emailAddress { width: 250px; }
      div.loading {
        display: inline-block;
        position: relative;
        top: 5px;
        left: 5px;
      }
    }

    table.members {
      width: 100%;

      th {
        font-weight: bold;
        border-bottom: 1px #999999 dashed;
        padding-bottom: 5px;
      }

      td {
        border-bottom: 1px #999999 dashed;
        padding: 5px 0;
        height: 40px;
      }

      .role { width: 115px; }
      .remove { width: 80px; }
      .loading {
        display: inline-block;
        position: relative;
        top: 5px;
      }
    }
  }
}