.users.new {
  #centeredWrapper {
    margin: 50px auto;
    width: 360px;

    &.wide {
      width: 960px;
    }

    .roundedButton {
      font-size: 22px;
      padding: 10px;
      letter-spacing: 1;
      width: 150px;
      display: inline-block;
      text-align: center;
    }

    #signupForm {
      float: left;

      margin: 0px auto;


      .errors {
        #pleaseCorrect {
          font-weight: bold;
          margin-bottom: 5px;
        }

        ul li {
          list-style: disc inside;
        }
      }

      #canChangeLater {
        font-size: 12px;
        color: gray;
        font-style: italic;
        float: right;
        position: relative;
        top: 5px;
      }

      #agreeToTerms {
        font-size: 12px;
        color: gray;
        background-color: #EEEFEE;
        padding: 8px;
        font-style: italic;

        margin: 15px 0 5px;
      }

      #logIn {
        font-size: 12px;
        color: gray;
        font-style: italic;
        position: relative;
        top: 23px;
        text-align: right;
        width: 150px;
      }

      input[type=submit] {
        margin-top: 15px;
        width: 150px;
        float: right;
      }
    }

    #invitationInfo {
      float: right;
      width: 550px;
      margin-top: 20px;

      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 22px;
        margin-bottom: 30px;
      }

      #description {
        font-size: 18px;
        margin-left: 20px;

        li {
          list-style-type: disc;
          margin-bottom: 20px;
        }
      }

      #learnMore {
        float: right;
        margin-top: 71px;
        margin-right: 20px;
        color: white;
      }

      #invitationError {
        background-color: $errorBackground;
        padding: 10px;

        h1 {
          margin-bottom: 10px;
        }

        #description {
          margin-left: 0;
        }
      }
    }
  }
}
