#app {
  #account {
    .emailPreferences {
      margin-bottom: 20px;

      .loading {
        float: right;
      }

      .organizationName {
        font-size: 20px;
        margin-bottom: 5px;
      }

      .emailPreference {
        margin-bottom: 3px;

        input {
          margin-right: 5px;
        }

        label {
          font-size: 16px;
        }
      }
    }
  }
}
