/* home page */
body.home {
  margin-top: 100px;
}

body.home #logo {
  background-image: url("/images/logo_large.png");
  background-repeat: no-repeat;
  width: 804;
  height: 104;
  margin: 0 auto;
}

body.home #description {
  margin: 20px auto 50px;
  font-size: 22px;
  text-align: justify;
}

body.home .imageLink {

}

body.home #signup {
  background-image: url("/images/sign_up.png");
  background-repeat: no-repeat;
  width: 156px;
  height: 30px;
  margin-bottom: 10px;
  position: relative;
  left: 50px;
}

body.home #login {
  background-image: url("/images/log_in.png");
  background-repeat: no-repeat;
  width: 125px;
  height: 30px;
  position: relative;
  left: 50px;
}

/* app page */


#header {
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

#logo {
  margin: 5px 0px;
  background-image: url(/images/logo_small.png);
  background-repeat: no-repeat;
  width: 221px;
  height: 31px;
}

h2 {
  /*font-size: 22px;*/
}

button {
  padding: 5px;
}

.largeFont {
  font-size: 21px;
}

.grayText {
  color: #999999;
}

.elections .body {
  margin-bottom: 20px;
}

a.createElection, a#createCandidate {
  font-size: 21px;
  color: #007100;
  display: block;
  margin-bottom: 20px;
}

div#createElectionForm {
  width: 620px;
  margin: 20px auto 40px;
}

div#createElectionForm input {
  font-size: 21px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

div#createElectionForm button {
  display: block;
  margin: auto;
  font-size: 15px;
}

li.election {
  margin-bottom: 20px;
  cursor: pointer;
}

li.election .body {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 10px;
}

#organizations ol.candidates li {
  list-style: decimal;
  list-style-position: inside;
  font-size: 15px;
  padding: 2px;
}

div#createCandidateForm textarea {
  font-size: 21px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
}

div#createCandidateForm button {
  display: block;
  font-size: 15px;
}

.elections .sectionLabel {
  font-size: 16px;
  color: #999999;
  margin-bottom: 5px;
}

.elections ol.candidates {
  background-color: #f4f2f2;
  -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
  -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
  overflow-x: hidden;
  overflow-y: auto;
}

.elections ol.candidates li {
  list-style: decimal;
  list-style-position: inside;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #c8c7c7;
  border-bottom: none;
  cursor: default;
  background: white;
  -moz-box-shadow: #c8c7c7 0px 1px 3px;
  -webkit-box-shadow: #c8c7c7 0px 1px 3px;
}

.elections ol.candidates li:last-child {
  border-bottom: 1px solid #d6d3d3;
}

.elections ol.candidates li.ui-draggable-dragging {
  width: 288px;
  list-style-type: none;
}

.candidateIcon {
  float: right;
  position: relative;
  top: 1px;
  height: 20px;
  width: 20px;
  background-position: 5px 4px;
  background-repeat: no-repeat;
}

.candidateRanked {
  background-image: url(/images/check_12x10_light.png);
}

.unrankCandidate {
  background-image: url(/images/x_11x11_light.png);
}

.loading {
  background-image: url(/images/loading_arrows_light.gif);
  background-position: 2px 2px;
}

div.unrankCandidate:hover {
  cursor: pointer;
  background-image: url(/images/x_11x11_dark.png);
}
