body {
  font-size: 15px;
}

a, a:visited {
  color: #0e40ac;
}

h1 {
  font-weight: bold;
}

input.text, textarea.text {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.inline {
  display: inline;
}

.marginBottom {
  margin-bottom: 10px;
}


.bigMarginBottom {
  margin-bottom: 30px;
}

.errors {
  background: #ffcccc;
  margin-bottom: 20px;
  padding: 10px;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

button {
  padding: 5px;
}

.placeheld {
  color: #999999;
}

.largeFont {
  font-size: 21px;
}

.smallFont {
  font-size: 13px;
}

.grayText {
  color: #999999;
}

.glossyBlack, .glossyBlack:visited {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #6d6e70), color-stop(0.5, #3a3a3b), color-stop(0.51, #000000), color-stop(1.0, #1D1D1D));
  background: -moz-linear-gradient(top, #6d6e70 0%, #3a3a3b 50%, #000000 51%, #1D1D1D 100%);
}

.roundedButton {
  font-size: 20px;
  border-radius: 3px;
  padding: 3px 7px;
  text-decoration:none;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.ui-autocomplete {
  position: absolute;
  background: white;
  padding: 3px;
  border: 1px solid #999999; 
}


th, td {
  padding: 5px 0 5px 0;
}

.x {
  height: 21px;
  width: 21px;
  background-image: url(/images/x_21x21_dark.png);
}

/* layout */

#notification {
  width: 100%;
  height: 20px;
  padding: 5px 5px 5px 10px;
  background: #fff3c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff3c7), to(#fbe9a9));
  background: -moz-linear-gradient(top, #fff3c7, #fbe9a9);
  border-bottom: 1px solid #8e8e8e;
  margin-bottom: 5px;
  font-size: 14px;
}

#darkenBackground {
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  position: fixed;
  top: 0px;
  left: 0px;
}

#feedback {
  background: white;
  height: 300px;
  width: 600px;
  position: absolute;
  z-index: 21;
  padding: 10px;
  -moz-box-shadow: rgba(0, 0, 0, .5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 0px 4px;
}

#feedback .x {
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

#feedback #thanks {
  margin-bottom: 10px;
}

#feedback textarea {
  width: 100%;
  height: 185px;
  padding: 10px;
  margin-bottom: 10px;
}

/* home page */
body.home {
  font-size: 22px;
}

#bigLogo {
  background-image: url("/images/logo_large.png");
  background-repeat: no-repeat;
  width: 780px;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 20px;
}

body.home #description {
  margin-bottom: 40px;
  text-align: justify;
}

body.home #signUpOrLogIn {
  text-align: right;
}

body.home #signUp {
  display: inline-block;
  background-image: url("/images/sign_up.png");
  background-repeat: no-repeat;
  width: 158px;
  height: 34px;
  margin-right: 20px;
  cursor: pointer;
}

body.home #logIn {
  display: inline-block;
  background-image: url("/images/log_in.png");
  background-repeat: no-repeat;
  width: 127px;
  height: 34px;
  cursor: pointer;
}

/* login page */

body.login #loginForm {
  width: 350px;
  font-size: 22px;
  margin: 20px auto;
}

body.login #loginForm #errors {
  margin-bottom: 20px;
  font-size: 16px;
  background: #ffe3e3;
  padding: 5px;
}

body.login #loginForm label {
  display: block;
}

body.login #loginForm input {
  display: block;
  width: 350px;
  margin-bottom: 10px;
}

body.login #loginForm input[type="submit"] {
  width: auto;
  float: right;
}

/* signup page */

body.signup {
  font-size: 22px;
}

body.signup label {
  display: block;
  font-size: 16px;
}

body.signup label.inline {
  display: inline;
}

body.signup #bigLogo {
  margin-bottom: 40px;
}

body.signup textarea.text {
  height: 85px;
}

body.signup input[type=submit] {
  margin-top: 10px;
}

/* confirm membership page */

body.confirm_membership {
  text-align: center;
}


/* add organization page */

div.addOrganization input[type=submit] {
  margin-top: 10px;
}


/* edit organization page */

.editOrganization #overviewLink {
  float: right;
}

div.addMember {
  border-bottom: 1px solid #999999;
  padding-bottom: 5px;
}

div.addMember input, div.addMember label, div.addMember select {
  margin-right: 10px;
}

div.addMember input.name {
  width: 150px;
}

div.addMember input.emailAddress {
  width: 250px;
}

table.members {
  width: 100%;
}

table.members td, table.members th {
  border-bottom: 1px #999999 dashed;
}

table.members .role {
  width: 115px;
}

table.members .remove {
  width: 80px;
}

table.members .loading {
  position: relative;
  top: 5px;
}

table.members th {
  font-weight: bold;
}


/* app page */

#header {
  border-bottom: 1px solid #cccccc;
  position: relative;
  margin-bottom: 15px;
}

#header > div {
  height: 30px;
}

#header .headerItem {
  float: right;
  margin-top: 2px;
  margin-left: 6px;
}

.dropdownLink {
  display: inline-block;
  color: #0e40ac;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 15px;

  background-image: url(/images/expand_arrow_blue.png);
  background-repeat: no-repeat;
  background-position: right;
}

.dropdownMenu {
  z-index: 1;
  position: absolute;
  background: white;
  border: 1px solid #cccccc;
  border-top: none;
  display: none;
  width: auto;
  -moz-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
  white-space: nowrap;
}

.dropdownMenu a {
  padding: 2px 4px;
  display: block;
}

.dropdownMenu a:hover {
  background: #fff3c7;
}

#logo {
  margin: 5px 0px;
  background-image: url(/images/logo_small.png);
  background-repeat: no-repeat;
  width: 221px;
  height: 25px;
}

#organizationHeader {
  margin-bottom: 30px;
}

#organizationHeader h1 {
  display: inline;
  margin-right: 10px;
}

#organizationHeader h2 {
  display: inline;
}

.elections .electionBody {
  margin-bottom: 20px;
}


a#createElectionLink {
  float: right;
}

a#createElectionLink:hover {
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25);
}

a#createCandidate {
  font-size: 21px;
  color: #007100;
  display: block;
  margin-bottom: 20px;
}

div#createElectionForm {
  margin: 5px auto 10px;
}

div#createElectionForm input {
  font-size: 18px;
  width: 780px;
  margin-bottom: 10px;
  padding: 10px;
}

div#createElectionForm a {
  float: right;
  margin-top: 5px;
}

.election {
  -moz-box-shadow: rgba(0,0,0,.4) 1px 1px 6px;
  -webkit-box-shadow: rgba(0,0,0,.35) 1px 1px 5px;
  padding: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  height: 220px;
  overflow-y: hidden;
  position: relative;
}

.election .body {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}

.election .fadeOut {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 100)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 100));
  height: 50px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #ffffcc;
}

#organizations ol.candidates li {
  list-style: decimal;
  list-style-position: inside;
  font-size: 15px;
  padding: 2px;
}

div#createCandidateForm textarea {
  font-size: 21px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
}

div#createCandidateForm button {
  display: block;
  font-size: 15px;
}

.elections .candidatesListHeader {
  font-size: 16px;
  color: #999999;
  margin-bottom: 5px;
}

.elections ol.candidates {
  background-color: #f4f2f2;
  -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
  -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
  overflow-x: hidden;
  overflow-y: auto;
}

.elections ol.candidates li.candidate {
  font-size: 15px;
  padding: 5px;
  border: 1px solid #c8c7c7;
  border-bottom: none;
  cursor: default;
  background: white;
  -moz-box-shadow: #c8c7c7 0px 1px 3px;
  -webkit-box-shadow: #c8c7c7 0px 1px 3px;
  position: relative;
}

.elections ol.candidates li.candidate .body {
  display: block;
  margin-left: 15px;
}

.elections ol.candidates li.candidate .expandedInfo {
  padding: 5px;
  font-size: 12px;
}

.elections ol.candidates li.candidate .expandedInfo textarea {
  width: 100%;
  height: 60px;
  padding: 3px;
}


.elections ol.candidates li.separator {
  text-align: center;
  padding: 5px;
  cursor: default;
}

.elections ol.candidates li.separator .up {
  background: url("/images/arrow_up_white.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  height: 22px;
  display: inline-block;
  margin-right: 20px;
}

.elections ol.candidates li.separator .down {
  background: url("/images/arrow_down_white.png");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20px;
  height: 22px;
  display: inline-block;
}

.elections ol.candidates li:last-child {
  border-bottom: 1px solid #d6d3d3;
}

.elections ol.candidates li.ui-draggable-dragging {
  width: 288px;
  list-style-type: none;
}

.expandArrow {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-image: url(/images/expand_arrows.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 9px;
  left: 3px;
  margin-left: 1px;
  margin-right: 4px;
}

.expandArrow:hover {
  background-position: -13px 0px;
  cursor: pointer;
}

.expandArrow.expanded {
  background-position: -26px 0px;
}

.expandArrow.expanded:hover {
  background-position: -39px 0px;
}


.candidateIcon {
  float: right;
  position: relative;
  top: 1px;
  height: 20px;
  width: 20px;
  background-position: 5px 4px;
  background-repeat: no-repeat;
}

.candidateRanked {
  background-image: url(/images/check_12x10_light.png);
  background-position: 5px 5px;
}

.unrankCandidate {
  background-image: url(/images/x_11x11_light.png);
}

.loading {
  background-repeat: no-repeat;
  background-image: url(/images/loading_arrows_light.gif);
  background-position: 2px 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.inactive {
  background: none;
}

div.unrankCandidate:hover {
  cursor: pointer;
  background-image: url(/images/x_11x11_dark.png);
}

/* invite page */

#invite textarea {
  padding: 5px;
  width: 100%;
  height: 185px;
  margin-bottom: 10px;
  overflow-y: auto;
}

#invite button {
  margin-right: 10px;
}

#invite #skip {
  padding: 15px 0 0 3px;
}