#header {
  background: #cccccc;
  margin-bottom: 30px;
}

#title {
  margin: 3px 10px;
}

h2 {
  /*font-size: 22px;*/
}

button {
  padding: 5px;
}

.largeFont {
  font-size: 21px;
}

.grayText {
  color: #999999;
}

.elections .body {
  margin-bottom: 20px;
}

a.createElection, a#createCandidate {
  font-size: 21px;
  color: #007100;
  display: block;
  margin-bottom: 20px;
}

div#createElectionForm {
  width: 620px;
  margin: 20px auto 40px;
}

div#createElectionForm input {
  font-size: 21px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

div#createElectionForm button {
  display: block;
  margin: auto;
  font-size: 15px;
}

li.election {
  margin-bottom: 20px;
  cursor: pointer;
}

li.election .body {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 10px;
}

ol.candidates li {
  list-style: decimal;
  list-style-position: inside;
  font-size: 15px;
  width: 288px;
}

div#createCandidateForm textarea {
  font-size: 21px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
}

div#createCandidateForm button {
  display: block;
  font-size: 15px;
}


.elections .sectionLabel {
  font-size: 16px;
  color: #999999;
  margin-bottom: 5px;
}

.elections ol.candidates {
  height: 400px;
  width: 100%;
  background-color: #f4f2f2;
  border-width: 3px;
  -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
  -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
}

.elections ol.candidates li {
  border: 1px solid #c8c7c7;
  padding: 5px;
  cursor: default;
  background: white;
  border-bottom: none;
  -moz-box-shadow: #c8c7c7 0px 1px 3px;
  -webkit-box-shadow: #c8c7c7 0px 1px 3px;
  position: relative;
}

.elections ol.candidates li:last-child {
  border-bottom: 1px solid #d6d3d3;
}

.candidateIcon {
  position: absolute;
  top: 0;
  left: 266px;
  height: 19px;
  width: 19px;
  padding: 7px;
  background-position: 12px 11px;
  background-repeat: no-repeat;
}

.candidateRanked {
  background-image: url(/images/check_12x10_light.png);
}

.unrankCandidate {
  background-image: url(/images/x_11x11_light.png);
}

.loading {
  background-image: url(/images/loading_arrows_light.gif);
  background-position: 9px 9px;
}

div.unrankCandidate:hover {
  cursor: pointer;
  background-image: url(/images/x_11x11_dark.png);
}

/* ------------------ */


ol.errorList {
  margin: 5px;
  font-size: small;
}

/* loginView.js */

#login {
  margin: 20px auto;
  text-align: center;
  width: 600px;
}

#login #loginForm {
  -moz-border-radius: 10px;
  border: 1px #666666 solid;
  margin-bottom: 10px;
  padding: 10px;
}

#login label {
  margin-right: 5px;
}

#login input {
  margin-right: 5px;
  width: 150px;
}

#login button {
  margin-left: 10px;
}

/* signup.js */

#signup {
  -moz-border-radius: 10px;
  border: 1px #666666 solid;
  margin: 20px auto;
  padding: 10px;
  width: 320px;
  position: relative;
}

#signup li {
  margin-bottom: 5px;
}

#signup label {
  display: inline-block;
  width: 120px;
}

#signup input {
  width: 200px;
}

#signup button {
  width: 80px;
  margin-left: 240px;
}