
.inline {
  display: inline;
}

.marginBottom {
  margin-bottom: 10px;
}


.bigMarginBottom {
  margin-bottom: 30px;
}

.errors {
  background: #ffcccc;
  margin-bottom: 20px;
  padding: 10px;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

button {
  padding: 5px;
}


.largeFont {
  font-size: 21px;
}

.smallFont {
  font-size: 13px;
}

.grayText {
  color: #999999;
}

th, td {
  padding: 5px 0 5px 0;
}


/* app page */


.loading {
  background-repeat: no-repeat;
  background-image: url(/images/loading_arrows_light.gif);
  background-position: 2px 2px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.inactive {
  background: none;
}