body {
  font-size: 15px;
}

input.text, textarea.text {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.bigMarginBottom {
  margin-bottom: 30px;
}

.block {
  display: block;
}

button {
  padding: 5px;
}

.placeheld {
  color: #999999;
}

.largeFont {
  font-size: 21px;
}

.smallFont {
  font-size: 13px;
}

.grayText {
  color: #999999;
}

.ui-autocomplete {
  position: absolute;
  background: white;
  padding: 3px;
  border: 1px solid #999999; 
}


th, td {
  padding: 5px 0 5px 0;
}

/* layout */

#notification {
  width: 100%;
  height: 20px;
  padding: 5px 5px 5px 10px;
  background: #fff3c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff3c7), to(#fbe9a9));
  background: -moz-linear-gradient(top, #fff3c7, #fbe9a9);
  border-bottom: 1px solid #8e8e8e;
  margin-bottom: 5px;
}

/* home page */
body.home {
  margin-top: 100px;
  font-size: 22px;
}

#bigLogo {
  background-image: url("/images/logo_large.png");
  background-repeat: no-repeat;
  width: 780px;
  height: 100px;
  margin-bottom: 20px;
}

body.home #description {
  margin-bottom: 40px;
  text-align: justify;
}

body.home #signUpOrLogIn {
  text-align: right;
}

body.home #signUp {
  display: inline-block;
  background-image: url("/images/sign_up.png");
  background-repeat: no-repeat;
  width: 158px;
  height: 34px;
  margin-right: 20px;
  cursor: pointer;
}

body.home #logIn {
  display: inline-block;
  background-image: url("/images/log_in.png");
  background-repeat: no-repeat;
  width: 127px;
  height: 34px;
  cursor: pointer;
}

body.home #loginForm {
  width: 350px;
  font-size: 22px;
  display: none;
  margin: 20px auto;
}

body.home #loginForm #errors {
  margin-bottom: 20px;
  font-size: 16px;
  background: #ffe3e3;
  padding: 5px;
}

body.home #loginForm label {
  display: block;
}

body.home #loginForm input {
  display: block;
  width: 350px;
  margin-bottom: 10px;
}

body.home #loginForm input[type="submit"] {
  width: auto;
  float: right;
}

/* signup page */

body.signup {
  margin-top: 100px;
  font-size: 22px;
}

body.signup #signupForm {
  margin: 0 auto;
  width: 350px;
  display: block;
}

body.signup label {
  display: block;
  font-size: 16px;
}

body.signup #bigLogo {
  margin-bottom: 40px;
}

body.signup textarea.text {
  height: 85px;
}

body.signup input[type=submit] {
  margin-top: 10px;
}

body.signup .description {
  /*text-align: justify;*/
}

/* add organization page */

div.addOrganization input[type=submit] {
  margin-top: 10px;
}


/* edit organization page */

div.addMember {
  border-bottom: 1px solid #999999;
  padding-bottom: 5px;
}

div.addMember input, div.addMember label, div.addMember select {
  margin-right: 10px;
}

div.addMember input.name {
  width: 150px;
}

div.addMember input.emailAddress {
  width: 250px;
}

table.members {
  width: 100%;
}

table.members th {
  font-weight: bold;
}

/* app page */

#header {
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  position: relative;
}

#header > div {
  height: 40px;
}

#header a {
  float: right;
  margin-left: 6px;
}

#logo {
  margin: 5px 0px;
  background-image: url(/images/logo_small.png);
  background-repeat: no-repeat;
  width: 221px;
  height: 30px;
}

.elections .body {
  margin-bottom: 20px;
}

a.createElection, a#createCandidate {
  font-size: 21px;
  color: #007100;
  display: block;
  margin-bottom: 20px;
}

div#createElectionForm {
  width: 620px;
  margin: 20px auto 40px;
}

div#createElectionForm input {
  font-size: 21px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

div#createElectionForm button {
  display: block;
  margin: auto;
  font-size: 15px;
}

li.election {
  margin-bottom: 20px;
  cursor: pointer;
}

li.election .body {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 10px;
}

#organizations ol.candidates li {
  list-style: decimal;
  list-style-position: inside;
  font-size: 15px;
  padding: 2px;
}

div#createCandidateForm textarea {
  font-size: 21px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
}

div#createCandidateForm button {
  display: block;
  font-size: 15px;
}

.elections .sectionLabel {
  font-size: 16px;
  color: #999999;
  margin-bottom: 5px;
}

.elections ol.candidates {
  background-color: #f4f2f2;
  -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
  -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
  overflow-x: hidden;
  overflow-y: auto;
}

.elections ol.candidates li {
  list-style: decimal;
  list-style-position: inside;
  font-size: 15px;
  padding: 5px;
  border: 1px solid #c8c7c7;
  border-bottom: none;
  cursor: default;
  background: white;
  -moz-box-shadow: #c8c7c7 0px 1px 3px;
  -webkit-box-shadow: #c8c7c7 0px 1px 3px;
}

.elections ol.candidates li:last-child {
  border-bottom: 1px solid #d6d3d3;
}

.elections ol.candidates li.ui-draggable-dragging {
  width: 288px;
  list-style-type: none;
}

.candidateIcon {
  float: right;
  position: relative;
  top: 1px;
  height: 20px;
  width: 20px;
  background-position: 5px 4px;
  background-repeat: no-repeat;
}

.candidateRanked {
  background-image: url(/images/check_12x10_light.png);
}

.unrankCandidate {
  background-image: url(/images/x_11x11_light.png);
}

.loading {
  background-image: url(/images/loading_arrows_light.gif);
  background-position: 2px 2px;
}

div.unrankCandidate:hover {
  cursor: pointer;
  background-image: url(/images/x_11x11_dark.png);
}

/* invite page */

#invite textarea {
  padding: 5px;
  width: 100%;
  height: 115px;
  margin-bottom: 10px;
  overflow-y: auto;
}

#invite button {
  margin-right: 10px;
}

#invite #skip {
  padding: 15px 0 0 3px;
}

/* Jquery ui autocomplete */
/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }
.ui-autocomplete-loading { background: white url('/images/loading_arrows_light.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: .2em .4em;
	line-height: 1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  background-color: #e0dfdf;
}
