$blue: #0e40ac;
$largeFont: 21px;

a, a:visited {
  color: $blue;
}

h1 {
  font-weight: bold;
}

button {
  padding: 5px;
}

.largeFont {
  font-size: 21px;
}

.grayText {
  color: #999999;
}

.errors {
  margin-bottom: 20px;
  font-size: 16px;
  background: #ffe3e3;
  padding: 10px;
}

.glossyBlack, .glossyBlack:visited {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #6d6e70), color-stop(0.5, #3a3a3b), color-stop(0.51, #000000), color-stop(1.0, #1D1D1D));
  background: -moz-linear-gradient(top, #6d6e70 0%, #3a3a3b 50%, #000000 51%, #1D1D1D 100%);
}

.roundedButton {
  font-size: 20px;
  border-radius: 3px;
  padding: 3px 7px;
  text-decoration:none;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
  cursor: pointer;
}

.placeheld {
  color: #999999;
}

.clickable {
  cursor: pointer;
}

.loading {
  background-repeat: no-repeat;
  background-image: url(/images/loading_arrows_light.gif);
  background-position: 2px 2px;
  width: 20px;
  height: 20px;

  &.inactive {
    background: none;
  }
}

#notification {
  width: 100%;
  height: 20px;
  padding: 5px 5px 5px 10px;
  background: #fff3c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff3c7), to(#fbe9a9));
  background: -moz-linear-gradient(top, #fff3c7, #fbe9a9);
  border-bottom: 1px solid #8e8e8e;
  margin-bottom: 5px;
  font-size: 14px;
}

#darkenBackground {
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  position: fixed;
  top: 0px;
  left: 0px;
}

#feedback {
  background: white;
  height: 300px;
  width: 600px;
  position: absolute;
  z-index: 21;
  padding: 10px;
  -moz-box-shadow: rgba(0, 0, 0, .5) 0px 0px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 0px 4px;

  #x {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    height: 21px;
    width: 21px;
    background-image: url(/images/x_21x21_dark.png);

  }

  #thanks { margin-bottom: 10px; }

  textarea {
    width: 100%;
    height: 185px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
  }
}

#bigLogo {
  background-image: url("/images/logo_large.png");
  background-repeat: no-repeat;
  width: 780px;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 20px;
}

#home {
  font-size: 22px;

  #description {
    margin-bottom: 40px;
    text-align: justify;
  }

  #signUpOrLogIn {
    text-align: right;

    #signUp {
      display: inline-block;
      background-image: url("/images/sign_up.png");
      background-repeat: no-repeat;
      width: 158px;
      height: 34px;
      margin-right: 20px;
      cursor: pointer;
    }

    #logIn {
      display: inline-block;
      background-image: url("/images/log_in.png");
      background-repeat: no-repeat;
      width: 127px;
      height: 34px;
      cursor: pointer;
    }
  }
}

#login {
  #loginForm {
    width: 350px;
    font-size: 22px;
    margin: 20px auto;

    label { display: block; }

    input {
      display: block;
      width: 350px;
      margin-bottom: 10px;

      &[type=submit] {
        width: auto;
        float: right;
      }
    }
  }
}

#signup {
  font-size: 22px;

  label {
    display: block;
    font-size: 16px;

    &.inline { display: inline }
  }

  input {
    width: 100%;
    display: block;
    margin-bottom: 10px;

    &[type=submit] {
      margin-top: 20px;
      width: auto;
    }

    &[type=checkbox] {
      display: inline;
      width: auto;
    }
  }


  #bigLogo { margin-bottom: 40px; }

  textarea {
    height: 85px;
    width: 100%;
    resize: vertical;
  }

}

#app {

  #header {
    border-bottom: 1px solid #cccccc;
    position: relative;
    margin-bottom: 15px;

    & > div { height: 30px; }

    .headerItem {
      float: right;
      margin-top: 2px;
      margin-left: 6px;
    }

    .dropdownLink {
      display: inline-block;
      color: $blue;
      text-decoration: underline;
      cursor: pointer;
      padding-right: 15px;

      background-image: url(/images/expand_arrow_blue.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    .dropdownMenu {
      z-index: 1;
      position: absolute;
      background: white;
      border: 1px solid #cccccc;
      border-top: none;
      display: none;
      width: auto;
      -moz-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
      -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
      white-space: nowrap;

      a {
        padding: 2px 4px;
        display: block;
        &:hover { background: #fff3c7; }
      }
    }


    #logo {
      margin: 5px 0px;
      background-image: url(/images/logo_small.png);
      background-repeat: no-repeat;
      width: 221px;
      height: 25px;
    }
  }

  #organizationOverview {
    #organizationHeader {
      margin-bottom: 30px;

      h1, h2 {
        display: inline;
      }

      h1 { margin-right: 10px; }
    }

    #createElectionLink {
      float: right;
      &:hover { -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25); }
    }

    #createElectionForm {
      margin: 5px auto 10px;

      input {
        font-size: 18px;
        width: 780px;
        margin-bottom: 10px;
        padding: 10px;
      }

      a {
        float: right;
        margin-top: 5px;
      }
    }

    .election {
      -moz-box-shadow: rgba(0,0,0,.4) 1px 1px 6px;
      -webkit-box-shadow: rgba(0,0,0,.35) 1px 1px 5px;
      padding: 8px;
      margin-bottom: 20px;
      cursor: pointer;
      height: 220px;
      overflow-y: hidden;
      position: relative;

      .body {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
      }

      .fadeOut {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 1)));
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        height: 50px;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        color: #ffffcc;
      }

      .candidates li {
        list-style: decimal;
        list-style-position: inside;
        font-size: 15px;
        padding: 2px;
      }
    }
  }

  #electionOverview {
    .electionBody {
      margin-bottom: 20px;
    }

    div#createCandidateForm {
      textarea {
        font-size: 21px;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        display: block;
        resize: vertical;
      }

      button {
        display: block;
        font-size: 15px;
      }
    }

    .candidatesListHeader {
      font-size: 16px;
      color: #999999;
      margin-bottom: 5px;
    }

    ol.candidates {
      background-color: #f4f2f2;
      -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
      -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
      overflow-x: hidden;
      overflow-y: auto;

      li.separator {
        text-align: center;
        padding: 5px;
        cursor: default;

        .up {
          background: url("/images/arrow_up_white.png");
          background-repeat: no-repeat;
          padding-left: 20px;
          height: 22px;
          display: inline-block;
          margin-right: 20px;
        }

        .down {
          background: url("/images/arrow_down_white.png");
          background-repeat: no-repeat;
          background-position: right;
          padding-right: 20px;
          height: 22px;
          display: inline-block;
        }
      }

      li.candidate {
        font-size: 15px;
        padding: 5px;
        border: 1px solid #c8c7c7;
        border-bottom: none;
        cursor: default;
        background: white;
        -moz-box-shadow: #c8c7c7 0px 1px 3px;
        -webkit-box-shadow: #c8c7c7 0px 1px 3px;
        position: relative;

        &:last-child { border-bottom: 1px solid #d6d3d3; }

        &.ui-draggable-dragging {
          width: 288px;
          list-style-type: none;
        }

        .expandArrow {
          display: inline-block;
          height: 13px;
          width: 13px;
          background-image: url(/images/expand_arrows.png);
          background-repeat: no-repeat;
          position: absolute;
          top: 11px;
          left: 5px;
          margin-left: 1px;
          margin-right: 4px;

          &:hover {
            cursor: pointer;
            background-position: -13px 0px;
          }
          &.expanded {
            background-position: -26px 0px;
            &:hover { background-position: -39px 0px; }
          }
        }

        .bodyContainer {
          margin-left: 19px;
          margin-right: 22px;

          textarea {
            outline: none;
            resize: vertical;
            width: 100%;
            height: 60px;
            padding: 4px;
          }
        }

        button {
          font-size: 12px;
        }

        .candidateIcon {
          float: right;
          position: relative;
          top: 1px;
          height: 20px;
          width: 20px;
          background-position: 5px 4px;
          background-repeat: no-repeat;
        }

        .candidateRanked {
          background-image: url(/images/check_12x10_light.png);
          background-position: 5px 5px;
        }

        .unrankCandidate {
          background-image: url(/images/x_11x11_light.png);

          &:hover {
            cursor: pointer;
            background-image: url(/images/x_11x11_dark.png);
          }
        }

        .loading {
          background-position: 2px 2px;
        }
      }
    }
  }

  #addOrganization {
    font-size: $largeFont;

    input, textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    button { margin-top: 10px; }
  }

  #editOrganization {
    @extend #addOrganization;

    #details { margin-bottom: 30px; }

    #overviewLink { float: right; }

    div.addMember {
      font-size: medium;
      border-bottom: 1px solid #999999;
      margin-bottom: 10px;
      padding-bottom: 5px;

      input, select {
        display: inline;
        margin-right: 10px;
      }

      input.name { width: 150px; }
      input.emailAddress { width: 250px; }
    }

    table.members {
      width: 100%;

      th { font-weight: bold; }

      td, th {
        border-bottom: 1px #999999 dashed;
        padding: 5px 0 5px 0;
      }

      .role { width: 115px; }
      .remove { width: 80px; }
      .loading {
        display: inline-block;
        position: relative;
        top: 5px;
      }
    }
  }

  #invite {
    textarea {
      padding: 5px;
      width: 100%;
      height: 185px;
      margin-bottom: 10px;
      overflow-y: auto;
    }

    button {
      margin-right: 10px;
    }
  }
}
