body {
  margin: 20px;
}

p {
  margin-bottom: 10px;
}

#navigator {
  width: 100%;
  margin-bottom: 20px;
}

#navigator th {
  background-color: lightblue;
  width: 20%;
}

#navigator td {
  vertical-align: top;
}

li.menu_item {
  cursor: pointer;
}

.edit_form {
  display: none;
}