#request_password_reset {
  #requestPasswordResetForm {
    input[type=submit] {
      font-size: 18px;
      padding: 10px;
      letter-spacing: 1;
      width: 220px;
      margin-top: 15px;
      display: inline-block;
      text-align: center;
      float: right;
    }
  }
}
