.home.show {
  #members {
    font-size: $largeFont;
    margin-bottom: 20px;
    overflow: hidden;

    .newMembers {
      margin-bottom: 30px;

      #secretUrlExplanation {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .secretUrl {
        display: block;
        margin-top: 10px;
        width: 400px;
        font-size: 16px;
        padding: 5px;
        color: #666;
      }

    }

    #content {
      position: relative;
      z-index: 4;
      padding: 30px;
    }

    table.members {
      width: 100%;
      font-size: 16px;

      th {
        font-weight: bold;
        border-bottom: 1px #999999 dashed;
        padding-bottom: 5px;
      }

      td {
        border-bottom: 1px #999999 dashed;
        padding: 5px 0;
        height: 40px;
      }

      .role { width: 115px; }
      .remove { width: 80px; }
      .loading {
        display: inline-block;
        position: relative;
        top: 5px;
      }
    }
  }
}