#app {
  #addOrganization {
    font-size: $largeFont;
    margin-bottom: 20px;

    input, textarea {
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }

    a.roundedButton { margin-top: 10px; }
  }
}
