.home.show {
  #disconnectDialog {
    font-size: 15px;
    background: white;
    z-index: 200;
    position: absolute;
    width: 400px;
    display: none;
    padding: 20px;

    #refresh {
      float: right;
      margin-top: 20px;
    }
  }
}