.home.show {
  #invite {
    background: white;
    position: absolute;
    width: 450px;
    z-index: 100;
    padding: 20px;
    font-size: 16px;

    #instructions, #errorMessage {
      margin-bottom: 10px;
      font-size: 20px;
    }

    #errorMessage {
      color: red;
    }

    textarea {
      padding: 5px;
      width: 100%;
      height: 60px;
      overflow-y: auto;
      margin-bottom: 20px;
      resize: none;

      &.error {
        border-color: red;
      }
    }

    #whichOrganizations {
      margin-bottom: 5px;
    }

    ol {
      margin-bottom: 20px;
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }

    a {
      float: right;
    }

    .loading {
      float: right;
      margin-right: 8px;
      margin-top: 8px;

    }
  }
}