#app {
  #loadingPage {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -((468 + 90) / 2);
    margin-top: -60px;
    text-align: center;
    width: 468 + 85;

    #mediumLogo {
      float: left;
    }

    .bigLoading {
      float: right;
      position: relative;
      top: -12px;
    }
  }
}