@import "compass/reset"
@import "compass/css3/box"
@import "compass/css3/transition"
@import "compass/css3/box-sizing"
@import "compass/layout/grid-background"
@import "scale"
@import "fonts"
@import "mixins"
@import "layout"
@import "pages/election"


#jasmine_content
  right: 0
  width: 50%
  height: 100%

body
  font-family: "proxima-nova-1", Helvetica, Arial, sans-serif
  font-size: $s0
  line-height: $s1

a
  cursor: pointer

li
  list-style: none

.avatar
  display: inline-block

.dropdown-menu
  @include unselectable
  position: relative
  ul
    display: none
    position: absolute
    top: 100%
    right: 0

h2
  margin-bottom: $s1/2
  font-weight: $semibold