@import "compass/reset"
@import "compass/css3/box"
@import "compass/css3/transition"
@import "compass/css3/box-sizing"
@import "compass/layout/grid-background"
@import "scale"
@import "fonts"
@import "mixins"
@import "layout"
@import "pages/election"


body
  font-family: "proxima-nova-1", Helvetica, Arial, sans-serif
  font-size: $s0
  line-height: $s1
  //@include baseline-grid-background($s1, transparentize(blue, .5))
  //background-position: 0 ($s1 / 2)

a
  cursor: pointer

li
  list-style: none

.avatar
  display: inline-block
  background: #999 no-repeat top left
  &.valid-gravatar
    background: none

.dropdown-menu
  @include unselectable
  position: relative
  ul
    display: none
    position: absolute
    top: 100%
    right: 0

h2
  margin-bottom: $s1/2
  font-weight: $semibold

.highlight
  background: #F5F6CE !important



::-webkit-scrollbar
  width: $s-2

::-webkit-scrollbar-track
  background: #eee

::-webkit-scrollbar-thumb
  -webkit-border-radius: 3px
  //border-radius: 10px
  background: #999
  @include background-image(linear-gradient(left, #ddd, #bbb))
