@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

html, body {
  height: 100%;
}

a.no-href {
  cursor: pointer;
}

.btn i {
  text-decoration: none;
}

i {
  font-size: @baseLineHeight;

  &:hover {
    text-decoration: none;
  }

  &.small {
    font-size: @baseFontSize;
  }

  &.large {
    font-size: @baseFontSize * 3;
    line-height: @baseLineHeight * 3;
  }
}

a.disabled, a.double-disabled {
  color: black;
  text-decoration: none;
  cursor: text;
}

.modal-form {
  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    margin-bottom: @baseLineHeight / 4;
  }

  .chars-remaining {
    &.warning {
      color: @red;
    }

    &.invalid {
      color: lighten(@red, 20%);
    }
  }
}

.question {
  margin-bottom: @baseLineHeight * 3;

  > .header {
    .body {
      font-size: 32px;
      line-height: @baseLineHeight * 2;
    }

    .edit-body, .delete, .permalink {
      display: block;
      padding-right: 0;
      color: #888;

      i {
        margin-right: .3ex;
      }

      i, span {
        vertical-align: middle;
      }

      &:hover {
        color: @linkColorHover;
      }
    }
  }
}


.add-answer {
  position: relative;
  top: -2px;
}

.column {
  height: @baseLineHeight * 20;
  margin: 0;
  overflow-y: auto;
  border: 1px solid #C9CFD4;
  background: #E3E6E8;

  > li {
    background: white;
    border: 0;
    border-bottom: 1px solid #C9CFD4;
    list-style-position: inside;
    background: white;
  }
}

.answer {
  list-style-position: inside;
  background: white;
  border: 1px solid #ccc;
  padding: @baseLineHeight / 2 - 1px;
  .box-shadow(0px 1px 3px 0px rgba(0, 0, 0, .1));
  -webkit-transition-property: background;
  -webkit-transition-duration: 400ms;
  cursor: default;

  &.highlighted {
    background: lighten(@yellow, 35%);
  }

  &.editable:hover i {
    display: inline;
    visibility: visible;
  }

  .personal-rank {
    height: @baseLineHeight;
    width: @baseLineHeight;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-left: .5ex;
    text-align: center;
    font-size: @baseFontSize - 2px;

    &.ranked {
      background: lighten(@green, 50%);
      border-color: lighten(@green, 25%);
    }
  }

  i {
    visibility: hidden;
    display: none;
    color: #888;
    margin-left: 2px;

    &:hover {
      color: @linkColorHover;
      cursor: pointer;
    }
  }
}

.collective.vote {
  position: relative;
}

.separator {
  margin-left: @baseLineHeight / 2;
  margin-right: @baseLineHeight / 2;
  color: #666;
}

.all-votes {
  margin: 0;
  background: white;

  .vote {
    list-style-type: none;
    padding: 0;

    &:last-child { border-bottom: 0 }

    .header {
      padding: @baseLineHeight / 2;
      margin-bottom: @baseLineHeight / 4;
      background: #F5F8FA;

      .avatar {
        margin-right: @baseLineHeight / 2;
        height: @baseLineHeight * 2;
        width: @baseLineHeight * 2;
        float: left;
      }

      .name {
        vertical-align: top;
      }

      .updated-at {
        color: #666;
        font-size: @baseFontSize - 3px;
      }
    }

    ol {
      padding: @baseLineHeight / 2;
      padding-top: @baseLineHeight / 4;
      padding-bottom: @baseLineHeight;
      margin: 0;
      li {
        list-style-position: inside;
      }
    }
  }
}

.personal-vote-wrapper {
  position: relative;

  .voting-instructions {
    text-align: center;
    position: absolute;
    left: @baseLineHeight;
    right: @baseLineHeight;
    padding: @baseLineHeight;
    top: 50%;
    margin-top: -100px;

    .icons {
      color: @linkColorHover;
      background: fadeout(white, 30%);
      display: table;
      padding: 0 @baseLineHeight;
      margin: 0 auto;

      i {
        position: relative;
        top: 3px;
      }

      .icon-arrow-right {
        margin-right: @baseLineHeight / 2;
      }
    }

    .words {
      margin-top: @baseLineHeight / 2;
      margin-bottom: 0;
    }
  }
}

.discussion {
  background: none;
  border-width: 1px 0 0 0;
  position: relative;

  ol {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 87px;
    margin: 0;
    padding-top: @baseLineHeight / 2;
    overflow-y: auto;

    .comment {
      list-style-type: none;
      margin-bottom: @baseLineHeight / 2;

      h1, h2, h3, h4, h5, h6 {
        line-height: @baseLineHeight;
        font-size: @baseFontSize;
        margin: 0;
        margin-bottom: @baseLineHeight;
      }

      img {
        height: @baseLineHeight * 2 - 2;
        width: @baseLineHeight * 2 - 2;
        float: left;
        margin-right: @baseLineHeight / 2;
      }

      .name {
        font-weight: bold;
        margin-right: 1ex;
      }

      time {
        color: #888;
        font-size: @baseFontSize - 2px;
      }
    }
  }

  .text-entry {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      resize: none;
    }
  }
}
