@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

html, body {
  height: 100%;
}

a.no-href {
  cursor: pointer;
}

i {
  font-size: @baseLineHeight;
}

a.disabled {
  color: black;
  text-decoration: none;
  cursor: text;
}

.modal-form {
  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }
}

.question {
  margin-bottom: @baseLineHeight * 3;

  > .header {
    .body {
      font-size: 32px;
      line-height: @baseLineHeight * 2;
    }

    .edit-body, .delete {
      display: block;
      padding-right: 0;
      color: #888;

      i {
        margin-right: .3ex;
      }

      i, span {
        vertical-align: middle;
      }

      &:hover {
        color: @linkColorHover;
      }
    }
  }
}

.add-answer {
  margin-top: 5px;
}

.column {
  height: @baseLineHeight * 20;
  margin: 0;
  overflow-y: auto;
  border: 1px solid #C9CFD4;
  background: #E3E6E8;

  > li {
    background: white;
    border: 0;
    border-bottom: 1px solid #C9CFD4;
    list-style-position: inside;
    background: white;
  }
}

.answer {
  list-style-position: inside;
  background: white;
  border: 1px solid #ccc;
  padding: @baseLineHeight / 2 - 1px;
  .box-shadow(0px 1px 3px 0px rgba(0, 0, 0, .1));
}

.collective.vote {
  position: relative;
}

.separator {
  margin-left: @baseLineHeight / 2;
  margin-right: @baseLineHeight / 2;
  color: #666;
}

.all-votes {
  margin: 0;
  background: white;

  .vote {
    list-style-type: none;
    padding: 0;

    &:last-child { border-bottom: 0 }

    .header {
      padding: @baseLineHeight / 2;
      margin-bottom: @baseLineHeight / 4;
      background: #F5F8FA;

      .avatar {
        margin-right: @baseLineHeight / 2;
        height: @baseLineHeight * 2;
        width: @baseLineHeight * 2;
        float: left;
      }

      .name {
        vertical-align: top;
      }

      .updated-at {
        color: #666;
        font-size: @baseFontSize - 3px;
      }
    }

    ol {
      padding: @baseLineHeight / 2;
      padding-top: @baseLineHeight / 4;
      padding-bottom: @baseLineHeight;
      margin: 0;
      li {
        list-style-position: inside;
      }
    }
  }
}

.discussion {
  background: none;
  border-width: 1px 0 0 0;
  position: relative;

  .text-entry {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      resize: none;
    }
  }
}
