html, body {
  height: 100%;
}

#new-question-form {
  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }
}

.new-answer-form {
  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
  }
}
