$darkened-background-z-index: 100
$padding-x: $s1
$header-height: 2 * $s1

#layout
  #header-wrapper
    height: $header-height
    background-color: transparentize(#aaa, 0.5)

    > #header
      margin: 0 auto
      @include box-sizing('border-box')
      max-width: 1200px
      padding: (($header-height - $s1) / 2) $padding-x
      height: 100%

      > h1
        font-weight: $semibold
        float: left
        letter-spacing: $s-9

      > #menu-items
        float: right
        > div
          display: inline-block
          margin-left: $s2

          .avatar
            float: left
            position: relative
            top: -($s2 - $s1)/2 - 1
            margin-right: $s-8


  #body-wrapper
    position: absolute
    width: 100%
    top: $header-height + 3/2 * $s1
    bottom: 3/2 * $s1
    > #body
      @include box-sizing('border-box')
      height: 100%
      max-width: 1200px
      margin: 0 auto

#darkened-background
  visibility: hidden
  position: fixed
  width: 100%
  height: 100%
  top: 0
  opacity: 0
  background: black
  z-index: $darkened-background-z-index
  @include transition('opacity', 150ms, 'ease-in')
  &.visible
    visibility: visible
    opacity: 0.3

.lightbox
  display: none
  position: relative
  margin: auto
  background: white
  width: 300
  height: 400
  z-index: $darkened-background-z-index + 1
