.lightbox
  z-index: $darkened-background-z-index + 1
  position: fixed
  left: 50%
  top: 50%
  margin-left: -($s13/2)
  width: $s13
  display: none
  background: white
  @include box-shadow(transparentize(black, 0.5) 0 0 5px)
  padding: $s1
  font-size: $s1
  line-height: $s1

  .close
    font-weight: $semibold
    float: right
    font-size: $s3
    color: #888
    margin-left: $s0
    margin-bottom: $s1
    margin-right: 2
    margin-top: 0
    &:hover
      color: #333

  h1
    font-weight: $semibold
    margin-bottom: $s1

  .errors
    background: $pale-red
    margin-top: 3/2 * $s1
    margin-bottom: $s1 * 3/2
    font-size: $s0
    padding: $s1/2

  label
    font-size: $s0
    margin-bottom: 0
    display: block

  textarea, input:not([type="submit"])
    height: $s1 * 2
    line-height: $s1
    font-size: $s1
    padding: ($s1 / 2 - 2)
    display: block
    width: 100%
    margin: 0
    margin-bottom: $s1
  input:not([type="submit"])
    padding-top: 0
    padding-bottom: 0

  .button
    float: right
    font-size: $s1
    line-height: $s1
    padding: ($s1/2 - 1) $s1
    margin-top: 0

#login-form
  margin-top: -8 * $s1
  #forgot-password
    float: right
    font-size: $s0
    font-style: italic
  .signup-message
    font-size: $s0

#signup-form
  margin-top: -12 * $s1
  .login-message
    font-size: $s-1
  &.add-organization
    height: $s1 * 24
    margin-top: -14 * $s1

#new-election
  top: 6 * $s1
  .body
    height: $s1 * 3
    max-height: 6 * $s1
  .chars-remaining
    font-size: $s0
    position: relative
    top: 2 * -$line-height - 9
    right: 5
    height: 0
  .details
    font-size: $s0
    line-height: $line-height
    max-height: 15 * $line-height
    height: $s1 * 6

#disconnect-dialog
  height: 8 * $s1
  margin-top: -5 * $s1
  > div
    font-size: $s0
    margin-bottom: $s1
