$phi: 1.618

$s17: 1064px
$s16:  752px
$s15:  658px
$s14:  464px
$s13:  406px
$s12:  287px
$s11:  251px
$s10:  177px
$s9:   155px
$s8:   110px
$s7:    96px
$s6:    68px
$s5:    60px
$s4:    42px
$s3:    37px
$s2:    26px
$s1:    21px
$s0:    16px
$s-1:   14px
$s-2:   10px
$s-3:    9px
$s-4:    6px
$s-5:    5px
$s-6:    4px
$s-7:    3px
$s-8:    2.335px
$s-9:    2.043px
$s-10:   1.443px
$s-11:   1.263px

//$s17:    1,139.98px
//$s16:     798.512px
//$s15:     704.561px
//$s14:     493.518px
//$s13:    /* 435.452px */ 436px
//$s12:     305.017px
//$s11:     269.130px
//$s10:     188.515px
//$s9:      166.335px
//$s8:      116.511px
//$s7:      102.803px
//$s6:       72.009px
//$s5:       63.537px
//$s4:       44.505px
//$s3:       39.269px
//$s2:       27.506px
//$s1:       /*24.270px*/ 24px
//$s0:       16.000px
//$s-1:      14.000px
//$s-2:      /*10.507px //*/  12.000px
//$s-3:       9.271px
//$s-4:       6.494px
//$s-5:       5.730px
//$s-6:       4.014px
//$s-7:       3.541px
//$s-8:       2.481px
//$s-9:       2.189px
//$s-10:      1.533px
//$s-11:      1.353px

$line-height: 18px
