$phi: 1.608

$s17:  939.408px
$s16:  798.512px
$s15:  580.598px
$s14:  493.518px
$s13:  358.837px
$s12:  305.017px
$s11:  221.778px
$s10:  188.515px
$s9:   137.069px
$s8:   116.511px
$s7:   84.715px
$s6:   72.009px
$s5:   52.358px
$s4:   44.505px
$s3:   32.360px
$s2:   27.506px
$s1:   20.000px
$s0:   17.000px
$s-1:  12.361px
$s-2:  10.507px
$s-3:  7.640px
$s-4:  6.494px
$s-5:  4.722px
$s-6:  4.014px
$s-7:  2.918px
$s-8:  2.481px
$s-9:  1.803px
$s-10: 1.533px
$s-11: 1.114px
