.home.show {
  #invite {
    background: white;
    position: absolute;
    width: 450px;
    z-index: 100;
    padding: 20px;
    font-size: 16px;

    .instructions, #errorMessage {
      margin-bottom: 10px;
      font-size: 20px;
    }

    #errorMessage {
      color: red;
    }

    .secretUrl {
      display: block;
      margin-top: 10px;
      width: 400px;
      font-size: 16px;
      padding: 5px;
      color: #666;
    }

    #whichOrganizations {
      margin-bottom: 5px;
    }

    ol {
      margin-bottom: 20px;
      input[type="checkbox"] {
        margin-right: 5px;
      }
    }

    a {
      float: right;
    }

    .loading {
      float: right;
      margin-right: 8px;
      margin-top: 8px;

    }
  }
}