#app {
  #editOrganization {
    @extend #addOrganization;

    input[name="name"] {
      width: 300px;
    }

    textarea {
      resize: none;
      width: 500px;
    }

    #flags {
      margin-top: 10px;
      margin-bottom: 20px;

      input[type="checkbox"] {
        margin-right: 10px;
        display: inline;
        width: auto;
      }

      label {
        position: relative;
        top: 2px;
      }
    }

    button {
      display: inline-block;
    }

    .loading {
      display: inline-block;
      position: relative;
      top: 3px;
      left: 5px;
    }

    #overviewLink { float: right; }
  }
}