#app {
  #electionOverview {
    clear: both;
    overflow-y: hidden;

    #electionOverviewHeader {
      margin-bottom: 30px;

      h1 {
        margin-bottom: 0;
      }

      #electionBodyContainer {
        margin-top: 2px;

        .expandArrow {
          float: left;
          margin-right: 5px;
          margin-top: 8px;
        }

        #electionBodyContainerRight {
          width: 595px;
          display: inline-block;

          h2 {
            display: inline;
            margin-right: 5px;
          }

          textarea.electionBody {
            width: 100%;
            resize: none;
            font-size: 23px;
            padding: 4px;
            height: 50px;
            margin-bottom: 10px;
          }

          #expandedArea {
            button {
              float: right;
              margin-left: 5px;
            }

            .loading {
              float: right;
              top: 2px;
              position: relative;
            }
          }
        }
      }
    }

    #showCreateCandidateFormButton {
      padding: 6px 20px;
      float: right;
      display: inline-block;
      text-align: center;

      &.pressed {
        -webkit-box-shadow: 0px 0px 4px black inset;
        -moz-box-shadow: 0px 0px 4px black inset;
      }
    }

    div#createCandidateForm {
      margin-bottom: 30px;

      .cancelX {
        float: right;
        margin-top: 6px;
      }

      textarea {
        font-size: 15px;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        display: block;
        resize: none;
        line-height: 1.1;
        border: 1px solid #c8c7c7;

        &#shortAnswer {
          height: 49px;
        }

        &#optionalDetails {
          height: 80px;
        }
      }

      #createCandidateButton {
        display: inline-block;
        padding: 5px 10px;
        font-size: 18px;
      }

      .loading {
        display: inline-block;
        position: relative;
        top: 3px;
        left: 4px;
      }
    }

    .relatedUser {
      margin-top: 5px;

      .avatar {
        float: left;
        margin-right: 5px;
        width: 40px;
        height: 40px;
        background: #999999 url(/images/mystery_man.jpeg) no-repeat top left;
      }

      .details {
        padding-top: 2px;

        .name {
          font-size: 15px;
          margin-bottom: 2px;
        }

        .date {
          color: #999999;
          font-size: 12px;
        }
      }
    }

    #createdBy {
      margin-bottom: 20px;

      .columnHeader {
        border-bottom: 1px solid #e0e0e0;
      }
    }


    #votes {
      #voteCount {
        border-bottom: 1px solid #e0e0e0;

        &.noVotes {
          border-bottom: none;
        }
      }

      ol {
        overflow-y: auto;

        .relatedUser {
          cursor: pointer;
          &:hover {
            background-color: #ffffcc;
          }
        }
      }
    }

    .columnHeader {
      font-size: 18px;
      color: #999999;
      padding-bottom: 3px;
    }

    .bigLoading {
      position: absolute;
    }

    // specific styles for global consensus / ranked candidates below
    ol.candidates {
      background-color: $lightGray;
      -moz-box-shadow: #c8c7c7 0px 0px 5px inset;
      -webkit-box-shadow: #c8c7c7 0px 0px 5px inset;
      overflow-x: hidden;
      overflow-y: auto;

      li.candidate {
        font-size: 15px;
        padding: 5px;
        border: 1px solid #c8c7c7;
        border-bottom: none;
        cursor: default;
        background: white;
        -moz-box-shadow: #c8c7c7 0px 1px 3px;
        -webkit-box-shadow: #c8c7c7 0px 1px 3px;
        position: relative;

        &:last-child { border-bottom: 1px solid #d6d3d3; }

        &.ui-draggable-dragging {
          width: 288px;
          list-style-type: none;
        }

        &.expanded {
          background-color: #ffffee;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ffffea), color-stop(1.0, #fffffa));
          background: -moz-linear-gradient(top, #ffffea 0%, #fffffa 100%);

          .expandedInfoSpacer {
            display: block;
          }
        }

        .expandArrow {
          position: absolute;
          top: 8px;
          left: 5px;
          margin-left: 1px;
          margin-right: 4px;
        }

        .candidateIcon {
          float: right;
          position: relative;
          top: 1px;
          height: 20px;
          width: 18px;
          background-position: 4px 4px;
          background-repeat: no-repeat;
        }

        .detailsIcon {
          background-image: url(/images/speech_light.png);
          cursor: pointer;

          &:hover {
            background-image: url(/images/speech_dark.png);
          }
        }

        .loading {
          background-position: 2px 2px;
        }

        .body {
          margin-left: 19px;
          margin-right: 22px;
        }

        .expandedInfoSpacer {
          display: none;
          height: 25px;
        }

        .expandedInfo {
          margin: 0 10px 10px 10px;
          font-size: 13px;

          label {
            display: block;
            margin-bottom: 2px;
          }


          .bodyContainer {
            margin-bottom: 10px;

            textarea {
              outline: none;
              width: 100%;
              padding: 4px;
              padding-top: 2px;
              resize: none;
            }
          }

          .detailsContainer {
            margin-bottom: 10px;

            textarea {
              width: 100%;
              height: 30px;
              padding: 5px;
              max-height: 150px;
              resize: none;
            }
          }

          // inside body and details containers
          .nonEditable {
            background: white;
            border: 1px dashed #737373;
            padding: 5px;
            max-height: 150px;
            overflow-y: auto;
            color: #333;
          }

          button {
            float: right;
            font-size: 12px;
            margin-left: 5px;
          }
        }
      }
    }

    #candidatesList {
      ol#candidates {
        li.candidate {
          .candidateRanked {
            background-image: url(/images/check_12x10_light.png);
          }
        }
      }
    }

    #rankedCandidatesList {
      &.otherUser {
        ol#rankedCandidates {
          .dragTargetExplanation {
            visibility: hidden;
          }

          li.candidate {
            .unrankCandidate {
              visibility: hidden;
            }
          }
        }
      }

      .columnHeader {
        #back {
          float: right;
        }
      }

      ol#rankedCandidates {
        .dragTargetExplanation {
          font-size: 15px;
          padding: 0 40px;
          text-align: center;
        }

        li.candidate {
          .unrankCandidate {
            background-image: url(/images/x_11x11_light.png);

            &:hover {
              cursor: pointer;
              background-image: url(/images/x_11x11_dark.png);
            }
          }
        }

        li.separator {
          text-align: center;
          padding: 5px;
          cursor: default;
          font-size: 15px;

          .up {
            background: url("/images/arrow_up_white.png");
            background-repeat: no-repeat;
            padding-left: 20px;
            height: 22px;
            display: inline-block;
            margin-right: 20px;
          }

          .down {
            background: url("/images/arrow_down_white.png");
            background-repeat: no-repeat;
            background-position: right;
            padding-right: 20px;
            height: 22px;
            display: inline-block;
          }
        }
      }
    }
  }
}