#app {
  .dropdownMenu {
    z-index: 100;
    position: absolute;
    background-color: #efefef;
    border: 1px solid #cccccc;
    border-top: none;
    display: none;
    width: auto;
    -moz-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
    white-space: nowrap;
    padding: 2px;



    a {
      opacity: 1;
      background-color: white;
      position: relative;
      z-index: 20;
      padding: 2px 4px;
      display: block;
      margin-bottom: 2px;
      &:hover { background: #fff3c7; }
    }

    li:last-child a {
      margin-bottom: 0;
    }
  }

  #header {
    width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 5px;
    height: auto;

    .headerItem {
      position: relative;
      float: right;
      margin-left: 6px;
      display: inline-block;
      background-color: #efefef;
      @include borderRadius(3px);
      padding: 5px 10px;
      overflow: hidden;
      text-decoration:none;

      &.dropdownLink {
        padding-right: 20px;
        background-position: 95% 50%;
      }
    }

    .dropdownLink {
      display: inline-block;
      color: $blue;
      cursor: pointer;
      padding-right: 15px;
      background-image: url(/images/expand_arrow_blue.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    #logoWrapper {
      float: left;
      margin: 5px;
      margin-left: 6px;
    }
  }

  #mainContent {
    background: white;
    width: 1000;
    padding-bottom: 10px;
    margin: 0 auto;
    -moz-box-shadow: rgba(0, 0, 0, .5) 1px 1px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 1px 1px 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;

    #contentHeader {
      -webkit-border-top-left-radius: 6px;
      -webkit-border-top-right-radius: 6px;
      -moz-border-radius-topleft: 6px;
      -moz-border-radius-topright: 6px;
      -moz-box-shadow: rgba(0, 0, 0, .5) 0px 1px 1px;
      -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 1px 1px;

      width: 1000 - (30 + 30);
      height: 46 - 10;
      margin: 0 auto;
      padding: 5px 30px;
      margin: 0;
      margin-bottom: 30px;


      h2 {
        padding: 0;
        margin: 0;
        font-size: 28px;
        display: inline-block;
        letter-spacing: 1.1;
        cursor: pointer;
      }

      a {
        display: inline-block;
        float: right;
        margin-top: 11px;
        color: white;

        &#organizationSettings {
          padding-left: 14px;
          background-repeat: no-repeat;
          background-image: url(/images/cog_alt_12x12_light.png);
          background-position: 0 1px;
        }

        &#backToLastOrganization {
          padding-left: 16px;
          background-repeat: no-repeat;
          background-image: url(/images/undo_12x12_light.png);
          background-position: 0 1px;
        }
      }
    }
  }

  #feedback {
    background: white;
    height: 300px;
    width: 600px;
    position: absolute;
    z-index: 100;
    padding: 10px;

    #thanks { margin-bottom: 10px; }

    textarea {
      width: 100%;
      height: 185px;
      padding: 10px;
      margin-bottom: 10px;
      resize: none;
    }
  }

  #darkenBackground {
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}