#app {
  #header {
    width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 5px;
    height: auto;

    .headerItem {
      float: right;
      margin-left: 6px;
      display: inline-block;
      background-color: #efefef;
      @include borderRadius(3px);
      padding: 5px 10px;
      overflow: hidden;
      text-decoration:none;

      &.dropdownLink {
        padding-right: 15px;
      }
    }

    #logoWrapper {
      float: left;
      margin: 5px;
      margin-left: 6px;
    }
  }

  #mainContent {
    background: white;
    width: 1000;
    padding-bottom: 10px;
    margin: 0 auto;
    -moz-box-shadow: rgba(0, 0, 0, .5) 1px 1px 6px;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 1px 1px 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;

    #orgHeader {
      -webkit-border-top-left-radius: 6px;
      -webkit-border-top-right-radius: 6px;
      -moz-border-radius-topleft: 6px;
      -moz-border-radius-topright: 6px;

      -moz-box-shadow: rgba(0, 0, 0, .5) 0px 1px 1px;
      -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 1px 1px;


      width: 1000 - 60;
      margin: 0 auto;
      padding: 5px 30px;
      margin: 0;
      margin-bottom: 30px;


      #organizationName {
        padding: 0;
        margin: 0;
        font-size: 28px;
        display: inline-block;
        letter-spacing: 1.1;
      }
    }

  }

  #feedback {
    background: white;
    height: 300px;
    width: 600px;
    position: absolute;
    z-index: 100;
    padding: 10px;

    #thanks { margin-bottom: 10px; }

    textarea {
      width: 100%;
      height: 185px;
      padding: 10px;
      margin-bottom: 10px;
      resize: none;
    }
  }

  #darkenBackground {
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}