#app {
  .dropdownMenu {
    z-index: 100;
    position: absolute;
    background-color: #efefef;
    border: 1px solid #cccccc;
    border-top: none;
    display: none;
    width: auto;
    -moz-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, .5) 0px 4px 4px;
    white-space: nowrap;
    padding: 2px;

    a {
      opacity: 1;
      background-color: white;
      position: relative;
      z-index: 20;
      padding: 2px 4px;
      display: block;
      margin-bottom: 2px;
      &:hover { background: #fff3c7; }
    }

    li:last-child a {
      margin-bottom: 0;
    }
  }

  #header {
    width: 1000px;
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 5px;
    height: auto;
    @include noSelect;

    .headerItem {
      position: relative;
      float: right;
      margin-left: 6px;
      display: inline-block;
      background-color: #efefef;
      @include borderRadius(3px);
      padding: 5px 10px;
      overflow: hidden;
      text-decoration:none;
    }

    .dropdownLink {
      display: inline-block;
      color: $blue;
      cursor: pointer;
      padding-right: 15px;
      padding-right: 20px;
      background-position: 95% 50%;
      background-image: url(/images/expand_arrow_blue.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    #logoWrapper {
      float: left;
      margin: 5px;
      margin-left: 6px;
      cursor: pointer;
    }
  }

  #mainContent {
    background: white;
    width: 1000px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    @include borderRadius(6px);
    @include dropShadow(6px);
    background: white;

    #navigationBar {
      width: 1000px;
      height: 40px;
      padding: 0;
      margin: 0;
      overflow: hidden;

      @include noSelect;
      @include borderRadiusTop(6px);
      @include gradient($darkGray, 10%);
      color: white;

      div {
        height: 40px;
        padding: 0 30px;

        h2 {
          display: inline-block;
          margin-top: 5px;
          margin-right: 24px;
          font-size: 24px;
          letter-spacing: 1.1;
          cursor: pointer;
        }

        a {
          display: inline-block;
          z-index: 30;
          margin: 0;
          margin-top: 5px;
          padding: 5px 12px;
          color: white;
          font-size: 18px;

          &.active {
            padding-bottom: 10px;
            @include borderRadiusTop(4px);
            @include dropShadow(4px);
            background-color: lighten(lighten($darkGray, 3%), 6%);
          }

          &.rightSide {
            float: right;
            padding-left: 20px;
            background-repeat: no-repeat;
            background-position: 3px;
          }

          &#backToLastOrganization {
            background-image: url(/images/undo_12x12_light.png);
          }

          &#raise {
  //          background-image: url(/images/plus_12x12.png);
          }
        }
      }
    }

    #subnavigationBar {
      width: 1000;
      height: 28px;
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 20;
      overflow: hidden;

      @include noSelect;
      @include gradient(lighten($darkGray, 3%), 6%);
      border-bottom: solid 1px darken($darkGray, 5%);
      color: $lighterGray;
      font-size: 14px;

      div {
        padding: 5px 20px;
        overflow: hidden;

        div {
          padding: 0;
          &#rightContent {float: right;}
          &#leftContent {float: left;}
        }

        span {
          color: lighten($gray, 25%);
          padding: 0 2px;
        }

        a {
          color: lighten($gray, 25%);
          padding: 0 12px;
        }
      }
    }

    #scrollingArea {
      background: white;
      overflow-y: auto;
      height: 100%;
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }

  #feedback {
    background: white;
    height: 300px;
    width: 600px;
    position: absolute;
    z-index: 100;
    padding: 10px;

    #thanks { margin-bottom: 10px; }

    textarea {
      width: 100%;
      height: 185px;
      padding: 10px;
      margin-bottom: 10px;
      resize: none;
    }

    a.roundedButton {
      float: right;
    }
  }

  #darkenBackground {
    background-color: rgba(0, 0, 0, .5);
    z-index: 99;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
  }
}