#app {
  #newElection {

    h2 {
      margin-bottom: 20px;
    }
    
    #createElectionLink {
      padding: 6px 20px;
      display: inline-block;
//      float: right;
    }

    #createElectionForm {
      margin: 5px auto 10px;

      input {
        font-size: 18px;
        width: 700px;
        height: 100px;
        margin-bottom: 10px;
        margin-right: 300px;
        padding: 5px;
      }

      a {
//        float: right;
      }
    }

    .bigLoading {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -40px;
      margin-top: -40px;
    }
  }
}
