#app {
  #newElection {

    .calloutBanner {

      .left {
        h1 { margin-bottom: 8px; }
      }

      .right {
        .ideas {font-weight: bold;}
      }

      ul {
        margin-top: 15px;

        li {
          list-style: disc inside;
          font-style: italic;
        }
      }
    }

    h2 {
      margin-bottom: 20px;
    }
    
    #createElectionLink {
      padding: 6px 20px;
      display: inline-block;
    }

    textarea {
      resize: none;
      display: block;
      font-size: 18px;
      width: 700px;
      height: 100px;
      margin-bottom: 10px;
      padding: 5px;
    }

    .bigLoading {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -40px;
      margin-top: -40px;
    }
  }
}
