#app {
  #organizationOverview {
    #organizationHeader {
      margin-bottom: 30px;

      h1, h2 {
        display: inline;
      }

      h1 { margin-right: 10px; }
    }

    #createElectionLink {
      float: right;
      &:hover { -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.25); }
    }

    #createElectionForm {
      margin: 5px auto 10px;

      input {
        font-size: 18px;
        width: 780px;
        margin-bottom: 10px;
        padding: 10px;
      }

      a {
        float: right;
        margin-top: 5px;
      }
    }

    #welcomeBlurb {
      -moz-box-shadow: rgba(0,0,0,.4) 1px 1px 6px;
      -webkit-box-shadow: rgba(0,0,0,.4) 1px 1px 5px;
      background: #ffffcc;
      margin-bottom: 30px;
      padding: 10px;
      font-size: 18px;
    }

    .election {
      -moz-box-shadow: rgba(0,0,0,.4) 1px 1px 6px;
      -webkit-box-shadow: rgba(0,0,0,.35) 1px 1px 5px;
      padding: 8px;
      margin-bottom: 20px;
      cursor: pointer;
      height: 220px;
      overflow-y: hidden;
      position: relative;

      .voteCount {
        padding: 5px;
        margin: 0 0 5px 5px;
        float: right;
        background: #eeebe8;
        min-width: 37px;
        line-height: 1;
        text-align: center;
        -moz-box-shadow: rgba(0,0,0,.3) 1px 1px 2px;
        -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 2px;

        .number {
          font-weight: bold;
          font-size: 24px;
        }
      }

      .body {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
      }

      .fadeOut {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, rgba(255, 255, 255, 0)), color-stop(0.8, rgba(255, 255, 255, 1)));
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        height: 50px;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        color: #ffffcc;
      }

      .candidates li {
        font-size: 15px;
        padding: 2px;

        .number {
          display: inline-block;
          font-weight: bold;
          vertical-align: top;
          padding-right: 6px;
        }

        .candidateBody {
          padding-top: 1px;
        }
      }
    }

    .bigLoading {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -40px;
      margin-top: -40px;
    }
  }
}
